<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nongziwang.main"
    android:versionCode="11"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 扫描二维码需要的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 社会化分享权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name="com.nongziwang.application.CustomApplcation"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nongziwang.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nongziwang.activity.SearchFragmentActivity" />
        <activity android:name="com.nongziwang.activity.TypeSearchFragmentActivity" />
        <activity android:name="com.nongziwang.activity.SearchResultsFragmentActivity" />
        <activity android:name="com.nongziwang.activity.LoginActivity" />
        <activity android:name="com.nongziwang.activity.RegisterActivity" />
        <activity android:name="com.nongziwang.activity.RegisterSetInfoActivity" />
        <activity android:name="com.nongziwang.activity.ProductDetailFragmentActivity" />
        <activity android:name="com.nongziwang.activity.ForgetPasswordActivity" />
        <activity android:name="com.nongziwang.activity.SettingPasswordActivity" />
        <activity android:name="com.nongziwang.activity.IndustryInfoDetialActivity" />
        <activity android:name="com.nongziwang.activity.CommonOrderFragmentActivity" />
        <activity android:name="com.nongziwang.activity.CartActivity" />
        <activity android:name="com.nongziwang.activity.FbxjdActivity" />
        <activity android:name="com.nongziwang.activity.MyCollectionFragmentActivity" />
        <activity android:name="com.nongziwang.activity.MyFootprintActivity" />
        <activity android:name="com.nongziwang.activity.MyAddressFragmentActivity" />
        <activity android:name="com.nongziwang.activity.MyAccountBuyerFragmentActivity" />
        <activity android:name="com.nongziwang.activity.SettingActivity" />
        <activity android:name="com.nongziwang.activity.ResetPasswordFragmentActivity" />
        <activity android:name="com.nongziwang.activity.ResetPhoneNumberFragmentActivity" />
        <activity android:name="com.nongziwang.activity.JyzwActivity" />
        <activity android:name="com.nongziwang.activity.TqhkActivity" />
        <activity android:name="com.nongziwang.activity.MyAccountSellerFragmentActivity" />
        <activity android:name="com.nongziwang.activity.ProductManagementFragmentActivity" />
        <activity android:name="com.nongziwang.activity.ReleaseProductFragmentActivity" />
        <activity android:name="com.nongziwang.activity.MyShopsFragmentActivity" />
        <activity android:name="com.nongziwang.activity.CaptureActivity" />
        <activity android:name="com.nongziwang.activity.GongsiFragmentActivity" />
        <activity android:name="com.nongziwang.activity.WebViewActivity" />
        <activity android:name="com.nongziwang.activity.ProductUpdateActivity" />
        <activity android:name="com.nongziwang.activity.GuideActivity" />
        <activity android:name="com.nongziwang.main.MainActivity" />
        <activity android:name="com.nongziwang.activity.GongsiDetailFragmentActivity" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d53ce5e0f55aa622001572" >
        </meta-data>
        <!-- 微信平台 -->
        <activity
            android:name="com.nongziwang.activity.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 新浪微博 -->
        <activity
            android:name="com.nongziwang.activity.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" >
        </service>

        <!-- QQ Qzone -->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 支付宝 -->
        <activity
            android:name="com.nongziwang.activity.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 验证码倒计时服务 -->
        <service
            android:name="com.nongziwang.service.RegisterCodeTimerService"
            android:enabled="true" >
        </service>
    </application>

</manifest>